<footer class="bg-light text-muted">
  <section class="p-3 border-bottom">
    <div class="row d-flex justify-content-between">
      <div class="col-sm-5 pt-2 px-4 d-flex justify-content-start">
        <p>Let's Connect on Social Media : </p>
      </div>
      <div class="col-sm-7 pt-2  pe-4 d-flex justify-content-end">
        <div>
        <div class="pe-4">
          <a href="" class="me-4 text-reset">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="" class="me-4 text-reset">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
      </div>
    </div>
  </section>

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 mx-auto mb-4">
          <!-- Content -->
          <div class="m-2 d-flex justify-content-center">
            <img src="./../../../assets/Images/img-logo.jpg" width="110" height="50" class="img-fuild" alt="logo">
          </div>
          <h6 class=" head display-6 mb-4 text-center">Foodicious</h6>
        </div>
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Useful links
          </h6>
          <p>
            <a  class="text-reset" routerLink="/">Home</a>
          </p>
          <p>
            <a  class="text-reset" routerLink="menu">Menu</a>
          </p>
          <p>
            <a  class="text-reset" routerLink="userlogin">Login</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i> 235/7, Gangapur Road, Nashik</p>
          <p>
            <i class="fas fa-envelope me-3"></i>
            info@foodicious.com
          </p>
          <p><i class="fas fa-phone me-3"></i> +91 82 234 567 80</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
