<div class="container">
    <div class="row mt-3 division">
        <div class="col-md-6 col1">
            <img src="../../../assets/Images/img-biryani.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-md-6 col2">

            <div class="row forma">
                <div class="col-auto w-75">
                    <div class="form">
                        <h2 class=" display-6 text-center mt-2">Welcome, Partner<br> Sign in into your account</h2>

                        <form>
                            <div class="form-content mb-4">
                                <input type="text" class="form-control p-3" placeholder="Email">
                            </div>
                            <div class="form-content mb-4">
                                <input type="password" class="form-control p-3" placeholder="Password">
                            </div>


                            <div class="form-content mb-4">
                                <button type="submit" class="btn btn-warning p-3">Login</button>
                            </div>
                            <div class="form-content">
                                <p> Don't have an account, </p>
                                <a href="#" routerLink="partneraccount">Create an Account</a>
                            </div>


                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>