<div class="container-fluid grad">
    <div class="row">
        <div class="col-md-6 col2">
            <div class="row forma">
                <div class="col-auto">
                    <div class="form">
                        <h2 class=" display-6 text-center mt-2">Create Account</h2>
                        <form>
                            <div class="form-content mb-4">
                                <input type="text" class="form-control p-3" placeholder="Name">
                            </div>
                            <div class="form-content mb-4">
                                <input type="text" class="form-control p-3" placeholder="Email">
                            </div>
                            <div class="form-content mb-4">
                                <input type="password" class="form-control p-3" placeholder="Password">
                            </div>
                            <div class="form-content mb-4">
                                <button type="submit" class="btn btn-warning p-3">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
