Hi
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close"></button>
      </div>
      <div class="modal-body">
        <div class="modal-body">
          <div class="row ab">
            <div class="col-6 disimg aa">
              <img src="https://i.postimg.cc/x1RzTXPv/Masala-Dosa.jpg" alt="">
            </div>
            <div class="col-6 aa discont">
              <div class="row">
                <div class="col-6"></div>
                <div class="col-6"></div>
              </div>
              <div class="item-name">
                <p class="disname px-1">{{disp.name}}</p>
              </div>
              <div class="item-origin">
                <small class="px-1">South Indian</small>
              </div>
              <div class="item-price mt-1">
                <p><strong class="disprice px-1"> ₹ 70</strong></p>
              </div>
              <div class="item-des">
                <p class="mt-4 px-1">Serves 1 | Masala dosa are crispy, soft, savory and healthy crepes made with a
                  rice and lentil batter.</p>
              </div>
              <div class="">
                <button type="button" class="btn btn-outline-success mt-4">ADD</button>
              </div>

            </div>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer text-center">
        <button type="button" class="btn btn-outline-success m-2">ADD</button>
      </div> -->
    </div>
  </div>
</div>
