<section class=" our-menu p-4">
    <div class="jumbotron title">
        <h1 class="display-6 pb-2">Who Are We..?</h1>
    </div>
    <div class="underline"></div>
    <div class="row">
        <div class="col-lg-7 col-md-12 mb-lg-0 mb-2">
            <div class="container mt-4">
                <p class="lead content">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo, quaerat. Explicabo
                    eveniet obcaecati temporibus quaerat voluptate reiciendis accusantium laboriosam eos voluptatum
                    doloremque libero provident dolorem culpa neque soluta illum, esse possimus itaque, repudiandae
                    molestiae dicta consequuntur ex ducimus optio. Aspernatur incidunt voluptatum maxime. Minus
                    fugiat non, eos sequi odit eligendi maxime saepe consectetur libero culpa perferendis sapiente
                    nihil. </p>
            </div>
        </div>
        <div class="col-lg-5 col-md-12 mb-lg-0 mb-2">
            <div class="card border-0">
                <img src="../../../assets/Images/img-chef-1.jpg" class="img-fluid" alt="chef">
                <div class="card-img-overlay wrapper">
                    <div class="row imgrow">
                        <div class="col-md-12 w-50 imgcol">
                            <h4 class="lead text-center">Since 1929</h4>
                        </div>
                    </div>
            </div>
            </div>
        </div>
    </div>
   
</section>