* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.rr{
  height: 550px;
  display: flex;
  justify-content: center;
  align-content: center;

  background: linear-gradient(to right,rgb(117, 112, 112),rgba(0,0,0,0)),
  url(../../../assets/Images/img-rest.jpg) no-repeat ;

background-size: cover;
  opacity: 0.9;

}



h2{
  color: white;
}





.container {
  height: 600px;
  margin: auto;
}

.col2 {
  height: 500px;

}


button {
  width: 100%;
}

.forma {
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form h2 {
  margin-bottom: 50px;
}

a {
  text-decoration: none;
}
.red{
  color: red;
}
.anchor{
  color: white;
}
.form-content a{
  color: blue;
}
